body{
    background-color: grey;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-auto-rows: 0.1fr 0.1fr 2fr 1fr;
    grid-auto-columns: 1fr 0.2fr;
    grid-template-areas: 
    "headertop headertop"
    "headerbottom headerbottom"
    "body suggestions"
    "footer footer";    
}

.headertop{
    color: white;
    background-color:green;
    grid-area: headertop; 
}

#title{
    margin-left: 15px;
}

#cart{
    float: right;
}

.headerbottom{
    background-color:black;
    grid-area: headerbottom;
    
}


#searchbar{
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.productpage{
    background-color: white;
    grid-area: body;
    display: flex;
}

#image{
    text-align: center;
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.productpage div{
    display: inline-block;
}

#bulletpoints{
    margin-top: 100px;
    margin-left: 50px;
}

#bulletpoints li{
    margin:20px 0px;
}

#sizeselect{
    margin-top: 75px;
    margin-left: 300px;
}

#cartbutton{
    margin-top: 75px;
    margin-right: 25px;
}

.suggestions{
    background-color: white;
    grid-area: suggestions;
    text-align: right;
    border-left: 1px solid black;  
}

.suggestions li{
    list-style: none;
    margin-right: 80px;
    
}

.suggestions img{
    margin-right: 70px;
}

.suggestions p{
    margin-right: 65px;
}

.s1{
    width: 112.5px;
    height: 112.5px;
}

.s2{
    width: 112.5px;
    height: 112.5px;
}

.s3{
    width: 112.5px;
    height: 112.5px;
}

.footer{
    background-color:white;
    grid-area: footer;  
    border-top: 1px solid black; 
}

.footer h3{
    margin-left: 10px;
}

.footer p{
    margin-left: 10px;
}


#navitems{
    list-style: none;
}

#navitems li{
    color: white;
    float: left;
    text-align: center;
    width: 211px;
    height: 40px;
    background-color: black;
    opacity: 0.8;
}

h1{
    text-align: center;
}

#tophalf{
    display: inline;
}

#bottom{
    display: inline-block;
}